{:paths ["src"]

 :deps {org.clojure/clojure {:mvn/version "1.12.4"}
        ;;
        ;;
        ;;
        io.sentry/sentry {:mvn/version "8.29.0"}
        ring/ring-core {:mvn/version "1.15.3"}}

 :aliases {:build {:extra-deps {io.github.clojure/tools.build {:mvn/version "0.10.11"}
                                slipset/deps-deploy {:mvn/version "0.2.2"}}
                   :ns-default scripts.build}

           :dev {:extra-paths ["dev/src" "dev/resources"]
                 :extra-deps {io.github.tonsky/clj-reload {:mvn/version "1.0.0"}
                              reloaded.repl/reloaded.repl {:mvn/version "0.2.4"}}}

           :test {:extra-paths ["test"]
                  :extra-deps {cheshire/cheshire {:mvn/version "6.1.0"}
                               com.github.seancorfield/expectations {:mvn/version "2.2.214"}
                               lambdaisland/kaocha {:mvn/version "1.91.1392"}
                               lambdaisland/kaocha-junit-xml {:mvn/version "1.17.101"}
                               org.clojure/test.check {:mvn/version "1.1.2"}
                               ring/ring-mock {:mvn/version "0.6.2"}}}

           :antq {:replace-deps {com.github.liquidz/antq {:mvn/version "2.11.1276"}
                                 org.slf4j/slf4j-nop {:mvn/version "2.0.17"}}
                  :replace-paths ["."]
                  :exec-fn antq.tool/outdated
                  :exec-args {:download true
                              :force true
                              :no-changes true
                              :upgrade true
                              :verbose true}}

           :check {:replace-deps {dev.weavejester/cljfmt {:mvn/version "0.15.6"}}
                   :main-opts ["-m" "cljfmt.main" "check"]}

           :fix {:replace-deps {dev.weavejester/cljfmt {:mvn/version "0.15.6"}}
                 :main-opts ["-m" "cljfmt.main" "fix"]}}

 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/" :releases {:update :always}}
             "clojars" {:url "https://repo.clojars.org/" :releases {:update :always}}}}
