{:paths ["src"]

 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        ;;
        ;;
        ;;
        io.sentry/sentry {:mvn/version "6.4.2"}
        ring/ring-core {:mvn/version "1.9.6"}}

 :aliases {:build {:deps {io.github.seancorfield/build-clj {:git/tag "v0.8.3"
                                                            :git/sha "7ac1f8d"}}
                   :ns-default scripts.build}

           :test {:extra-paths ["test"]
                  :extra-deps {cheshire/cheshire {:mvn/version "5.11.0"}
                               com.github.seancorfield/expectations {:mvn/version "2.0.160"}
                               lambdaisland/kaocha {:mvn/version "1.70.1086"}
                               lambdaisland/kaocha-junit-xml {:mvn/version "1.16.98"}
                               orchestra/orchestra {:mvn/version "2021.01.01-1"}
                               org.clojure/test.check {:mvn/version "1.1.1"}}}

           :antq {:replace-deps {com.github.liquidz/antq {:mvn/version "2.1.932"}
                                 org.slf4j/slf4j-nop {:mvn/version "2.0.3"}}
                  :exec-fn antq.tool/outdated
                  :exec-args {:skip ["pom"]
                              :verbose true
                              :upgrade true
                              :download true
                              :no-changes true
                              :force true}}}}
