{:paths ["src" "resources"]

 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        ;;
        ;;
        ;;
        ch.qos.logback/logback-classic {:mvn/version "1.2.11"}
        io.sentry/sentry {:mvn/version "5.7.1"}
        io.sentry/sentry-clj {:local/root "../../../sentry-clj"}
        org.clojure/tools.cli {:mvn/version "1.0.206"}
        org.clojure/tools.logging {:mvn/version "1.2.4"}
        org.slf4j/jcl-over-slf4j {:mvn/version "1.7.36"}
        org.slf4j/jul-to-slf4j {:mvn/version "1.7.36"}
        org.slf4j/log4j-over-slf4j {:mvn/version "1.7.36"}
        org.slf4j/slf4j-api {:mvn/version "1.7.36"}}}
