{:paths ["src" "resources"]

 :deps {ch.qos.logback/logback-classic {:mvn/version "1.2.6"}
        io.sentry/sentry {:mvn/version "5.2.2"}
        io.sentry/sentry-clj {:mvn/version "5.2.156"}
        org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/tools.cli {:mvn/version "1.0.206"}
        org.clojure/tools.logging {:mvn/version "1.1.0"}
        org.slf4j/jcl-over-slf4j {:mvn/version "1.7.32"}
        org.slf4j/jul-to-slf4j {:mvn/version "1.7.32"}
        org.slf4j/log4j-over-slf4j {:mvn/version "1.7.32"}
        org.slf4j/slf4j-api {:mvn/version "1.7.32"}}}
