{:paths ["src" "resources"]

 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        ;;
        ;;
        ;;
        ch.qos.logback/logback-classic {:mvn/version "1.5.0"}
        integrant/integrant {:mvn/version "0.8.1"}
        integrant/repl {:mvn/version "0.3.3"}
        io.sentry/sentry {:mvn/version "7.4.0"}
        io.sentry/sentry-clj {:local/root "../../../sentry-clj"}
        org.clojure/tools.cli {:mvn/version "1.1.230"}
        org.clojure/tools.logging {:mvn/version "1.3.0"}
        org.slf4j/jcl-over-slf4j {:mvn/version "2.0.12"}
        org.slf4j/jul-to-slf4j {:mvn/version "2.0.12"}
        org.slf4j/log4j-over-slf4j {:mvn/version "2.0.12"}
        org.slf4j/slf4j-api {:mvn/version "2.0.12"}
        ring/ring-core {:mvn/version "1.11.0"}
        ring/ring-jetty-adapter {:mvn/version "1.11.0"}
        ring/ring-json {:mvn/version "0.5.1"}}}
