---

name: Test Clojure Sentry Library

on:
  push:
    branches:
      - '**'

env:
  APPLICATION: sentry-clj

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: ['8', '17', '21', '25']
    steps:
      - uses: actions/checkout@v6

      - name: Setup Cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.m2
            ~/.gitlibs
          key: ${{ env.APPLICATION }}-${{ hashFiles('deps.edn') }}
          restore-keys: ${{ env.APPLICATION }}-${{ hashFiles('deps.edn') }}

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}

      - name: Setup Clojure
        uses: DeLaGuardo/setup-clojure@master
        with:
          cli: 'latest'

      - name: Run Tests
        run: bin/test
